@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,400&family=Poppins:ital,wght@0,600;0,800;1,500;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   
   overflow-x: hidden;
   background-color: #d1dae5;
  /* -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
*/
}
.navbar{
    z-index: 999;
}
@media only screen and(max-width:320px){
    body{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
     }
     html{
        margin: 0;
        padding: 0;
        overflow-x: hidden;

     }
    .text{
        height: 90%;
        width: 90%;
        overflow-x: hidden;
    }
    
    #work{
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
    }
    #gallary h3 {
        place-content: center;
        font-size: 24px;
        font-weight: 600;
    }
    .gallary div{
        max-width: 300px;
        max-height: 300px;
        overflow-x: hidden;
    }
    .gallary{
        max-width: 300px;
        max-height: 300px;
        overflow-x: hidden;
    }
    .colum{
        max-width: 300px;
        max-height: auto;
       
        place-items: center;
        overflow-x: hidden;
    }
    .colum .gallary div{
        max-width: 250px;
        max-height: 300px;
        overflow-x: hidden;
        padding-right: 10px;
    
    }
    
    .div-8{
        max-width: 320px;
        max-height: auto;
        font-size: 25px;
        place-items: center;
        overflow-x: hidden;
    }
    div {
        max-width: 300px;
        max-height: 300px;
        font-size: 24px;
        place-items: center;
        overflow: hidden;

    }
    

   

}
@media only screen and(max-width:800px){
         html,body{
            width: 100%;
            height: 100%;
            margin: 0 0px;
            padding: 0;
            overflow-x: hidden;
         }
   
    .text{
        height: 90%;
        width: 90%;
        overflow-x: hidden;
    }
    #Hero{
        overflow: hidden;
    }

}



/*----------Hero-----------------*/
#Hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.142)), url(images/be2.JPG);
    background-position: center;
    background-size: cover;
    display: grid;
    overflow: hidden;
    text-align: center; 
}
#Hero h1{
    color: white;
}
.container-1{
    place-content: right;
    text-align: center;
    height: auto;
    max-width: 300px;
    padding-top: 90px;
    padding-left: 40px;
}
.container-1 img{
    border-radius: 60%;
    background: rgb(11, 11, 11);
    color: transparent;

}
@keyframes scrolltodown{
    0%{
        transform: translateY(30%);
        opacity: 0;
    }
    50%{
        transform: translateY(-30%);
        opacity: 1;
    }
    100%{
        transform: translateY(60%);

    }
}
.scroll-to-down{
    width: 35px;
    height: 60px;
    display: grid;
    place-content: center;
    font-size: 24px;
    color: #5390d5;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    text-decoration: none;
}
.scroll-to-down .las{
    animation: scrolltodown 2s ease infinite;
}

#Hero-title{
    color: white;
}
/*-----//-----Hero-----------------*/
#home{
    max-width: 100%;
    height: auto;
    margin-top: 60px;
    overflow: hidden;
}
#home h3{
    font-size: 38px;
    font-weight: 900;
    padding-left: 100px;
}
#love{
    font-size: 34px;
    font-weight: 600;
    padding-top: 40px;
    border-width: 20px;
}
#lovee{
    list-style: none;
    text-transform: uppercase;
}

/*-----//-----Service-----------------*/
/*==============work================*/
.gallary{
    max-width: 800px;
    display: flex;
    overflow-x: scroll;
}
.gallary div {
    max-width: 700px;
    display: grid;
    grid-template-columns: auto auto auto;
    flex: none;
    overflow: hidden;
}
.gallary div img {
    max-width: 700px;
    filter: grayscale(100%);
    transition: tranform 0.5s;
    height: 450px;
    overflow-x: hidden;
    

}
.colum{
    max-height: 500px;
    max-width: 700px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.gallary div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.gallary::-webkit-scrollbar{
    display: none;
}
.gallary-wrp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    background-color: gold;

}
#backBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
    font-size: 27px;
    font-weight: 600;

}
#nextBtn{
     width: 50px;
    cursor: pointer;
    margin: 40px;
    font-size: 27px;
    font-weight: 600;

}


/*image{
    width: 600px;
    height: 350px;
}

#Work{
    max-width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 40px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
}
#Work h3{
    padding-left: 100px;
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 30px;
}

.gallary{
    max-width: 500px;
    display: flex;
    overflow-x: scroll;
    background-color: #5390d5;
    padding-top: 20px;
}
.gallary div {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallary div img {
    filter: grayscale(100%);
    transition: tranform 0.5s;

}
.gallary div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.gallary::-webkit-scrollbar{
    display: none;
}
.gallary-wrp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    background-color: gold;

}
/*
#backBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
    font-size: 27px;
    font-weight: 600;

}
#nextBtn{
     width: 50px;
    cursor: pointer;
    margin: 40px;
    font-size: 27px;
    font-weight: 600;

}
.flex-end{
    background-color: white;
    max-height: 400px;
    max-width: 720px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 250vh;
}

.grid-container .heading {
    grid-column: 3 / 1;
    color: #fff;
    padding: 10px;
    font-size: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.grid-container .text {
    padding: 20px;

}

.grid-container .image {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    text-wrap: wrap;
}

.grid-container .image img {
    display: flex;
    margin: 0 auto;
    margin-left: -6%;
    margin-top: 120px;
    width: 749px;
}*/

/*#col-6{
width: 50%;
height: 400px;
background: #222;
display: flex;
align-items: center;
justify-content: center;
}
.swiper{
    width: 80%;
    height: fit-content;

}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev {
    color: aliceblue;
}
.swiper-button-next {
    color: hsl(0, 9%, 98%);
}

/*.col-6{
    display: flex;
    flex: auto;
    text-align: center;
}

/*
#image-track img{
    max-width: 400px;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    vertical-align: middle;
    overflow-clip-margin: content-box;
}
#image-track{
    display: flex;
    gap: 3vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0% -50%);
    overflow: hidden;

}*/
/*==============Blog================*/
#blog{
    height: auto;
    max-width: 90%;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 50px;
    background-color: rgb(34, 76, 123);
    overflow: hidden;
}
#blog img{
    border-radius: 50%;
}
#blog .col{
    padding-left: 30px;
    padding-right: 30px;
    border-width: 60px;
}
#blog h2{
    padding-top: 20px;
    color: red;
}
#blog h6{
    color: red;
}
#blog p{
    color: rgb(126, 211, 211);
}
/*==============contact================*/

#contact{
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    overflow: hidden;
}
.div-1{
    background-color: rgb(34, 76, 123);
}
/*==============Footer================*/

#foot{
    max-width: 100%;
    height: auto;
    background-color: rgb(37, 33, 33);
    overflow: hidden;
}
#foot .col .p-3 a{
    font-size: xx-large;
    letter-spacing: 30px;
}
#foot .col .p-3{
   color: aliceblue;
   margin-top: 30px;
   font-size: larger;
}

/*<!------FOOTER------------->*/
